name: Deploy Static Website to Azure VM

on:
  push:
    branches:
      - main

jobs:
  deploy:
    name: Deploy to Azure VM
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Deploy via SSH
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.AZURE_VM_HOST }}
          username: ${{ secrets.AZURE_VM_USER }}
          key: ${{ secrets.AZURE_VM_SSH_KEY }}
          script: |
            echo "Connected to Azure VM"

            # Remove old website files
            sudo rm -rf /var/www/html/*

            # Copy new files from repo
            sudo cp -r * /var/www/html/

            # Restart nginx
            sudo systemctl restart nginx

            echo "Deployment Completed Successfully"
